{{#each this}}
  <li class="film-card">
    <div class="thumb">
      <img src="" alt="" width="350" height="500"/>
    </div>
    <div class="description">
      <p class="description-title">=
        <h3>title</h3>
      </p>
      <p class="description-wrapper">
          <span>Action</span><span>Year</span>
      </p>
    </div>
  </li>
{{/each}}