.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(1, 5);
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 280px;
  height: 958px;
  top: 50%;
  left: 50%;
  padding: 48px 20px 41px 20px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 618px;
    height: 562px;
    padding: 42px 30px 40px 28px;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    max-width: 882px;
    height: 568px;
    padding: 50px 30px 40px 30px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__input-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: #212121;
}

.modal__comment-field {
  padding: 12px 16px;
  max-width: 100%;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1024px) {
  .modal__comment-field {
    width: 448px;
  }
}

.modal__form-check {
  margin-top: 20px;
}

.modal__agreement {
  color: #2196f3;
}

.modal__visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal__check-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8.38px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  overflow: hidden;
}

.modal__check-text {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 1px;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 8.38px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1024px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 25px;
  top: 25px;

  transform: rotate(-90deg);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-picture {
  // width: 240px;
  // height: 356.57px;

  border-radius: 5px
}

.modal__content-discription-title {
  margin-top: 30px;
  margin-bottom: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;

  color: #000000;
}

.modal__table-row {
  width: 191px;
  height: 16px;
  left: 40px;
}

.modal__table-head {
  width: 67px;
  height: 16px;
  left: 40px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  
  color: #8C8C8C;

}

.modal__table-data {
  left: 199px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}