<div class='backdrop js-backdrop'>
  <div class='modal'>
    <div class="modal-header">
      <button class='modal__close-btn' type='button' data-action="close-modal">
        <span>&#10006;</span>
      </button>
    </div>
    <div class="modal-wrapper">

    </div>
    <div class='modal__add-btns modal-footer'>
      <button class='modal__btn' type='button'>add to Watched</button>
      <button class='modal__btn modal__btn-active js-queue' type='button'>add to queue</button>
    </div>
  </div>
</div>